<div class="row">
  <div>
    <h2>Meet the Team behind Workout Warrior</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <%= image_tag('chris.jpg', class: 'img-circle img-responsive img-center', size: '400x400') %>
    <h2>Chris Carlson</h2>
    <ul>
      <li>email: <%= mail_to 'cwcarlson10@gmail.com' %></li>
      <li>Github: <%= link_to 'https://github.com/cwcarlson10', 'https://github.com/cwcarlson10' %></li>
      <li>linkedin: <%= link_to 'http://www.linkedin.com/pub/christopher-carlson/aa/112/511/', 'http://www.linkedin.com/pub/christopher-carlson/aa/112/511/' %></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <%= image_tag('nick.png', class: 'img-circle img-responsive img-center', size: '400x400') %>
    <h2>Nick Holley</h2>
    <ul>
      <li>email: <%= mail_to 'nick@zcid.co' %></li>
      <li>Github: <%= link_to "https://github.com/zcid", "https://github.com/zcid" %></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <%= image_tag('evan.jpg', class: "img-circle img-responsive img-center", size: '400x400') %>
    <h2>Evan Allred</h2>
    <ul>
      <li>email: <%= mail_to 'evjay.a@gmail.com' %></li>
      <li>Github: <%= link_to 'https://github.com/evja', 'https://github.com/evja' %></li>
      <li>linkedin: <%= link_to '' %></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <%= image_tag('kevin.jpg', class: "img-circle img-responsive img-center", size: '400x400') %>
    <h2>Kevin Murphy</h2>
    <ul>
      <li>email: <%= mail_to 'km86463@gmail.com' %></li>
      <li>Github: <%= link_to "https://github.com/kmmurphy88", "https://github.com/kmmurphy88" %></li>
      <li>linkedin: <%= link_to 'http://www.linkedin.com/pub/kevin-murphy/a5/40a/bb/en', 'http://www.linkedin.com/pub/kevin-murphy/a5/40a/bb/en' %></li>
    </ul>
  </div>
  <br>
  <div class="row">
    <h2>Why Workout Warrior?</h2>
    <p>Chris is a personal trainer who found himself having trouble keeping track of clients' progress, and was fed up with wondering if they had completed their programs and were having success. He decided that the best way to solve this problem was with technology, and thus the idea was born.</p>
    <br>
    <h2>What tools were used?</h2>
    <p>Workout Warrior is made with Ruby on Rails. We have also incorporated Bootstrap and JavaScript to make it dynamic and responsive.</p>
    <p>Gems of note that were used in making this app:</p>
    <ul>
      <li>Devise</li>
      <li>OmniAuth-Facebook</li>
      <li>Twitter Bootstrap</li>
      <li>simple_form</li>
      <li>coccon</li>
      <li>httparty</li>
      <li>Font-Awesome</li>
    </ul>
    <br>
    <p>All of this was done under the amazing and brilliant tutelage of the instructors at <a href="http://www.devpointlabs.com/">DevPoint Labs</a>.</p>
  </div>
</div>







