<%= simple_form_for @program do |f| %>

  <%= f.input :name %>

  <div id="routines">
    <%= f.simple_fields_for :routines do |r| %>
      <%= render 'routine_fields', :f => r %>
    <% end %>
  </div>

    <span class="links"><%= link_to_add_association 'add exercise', f, :routines, class: 'btn btn-success' %></span>


  <%= f.submit %>
<% end %>
