<%= simple_form_for @program, url: programs_path, method: :post, remote: true do |f| %>
  <div class="row" id="program_name_div">
    <div class="col-md-8" style="float: left;">
      <%= f.input :name, placeholder: 'Name of the Program' %>
    </div>
    <div class="col-md-4" id="athlete_selector">
      <%= f.label 'Athlete(s)' %>
      <%= f.collection_select 'athlete_ids', @trainer.athletes, :id, :name, {}, { name: 'athlete_ids[]', multiple: true, id: 'program-athlete-select-box', remote: true } %>
    </div>
  </div>

  <div id="routines">
    <%= f.simple_fields_for :routines do |r| %>
      <%= render 'routine_fields', :f => r %>
    <% end %>
  </div>

    <span class="links"><%= link_to_add_association 'Add an Exercise', f, :routines, class: 'btn btn-success', :onclick => 'myselect()' %></span>


  <%= f.submit class: 'btn btn-primary pull-right' %>
<% end %>
