<body class='home-page-background'>
  <% if current_user.trainer? %>
    <%= link_to "Back", programs_path, class: 'btn btn-danger btn-xs' %>
  <% elsif current_user.athlete? %>
    <%= link_to "Back", athlete_path(current_user.athlete.id), class: 'btn btn-danger btn-xs' %>
  <% end %>

  <h1><%= @program.name %></h1>
    <% if current_user.trainer? %>
      <div class='col-md-12'>
        <%= link_to "Edit", edit_program_path(@program), class: 'btn btn-danger btn-xs' %>
      </div>
    <% end %>
  <div class='row'>
    <% @program.routines.each do |r| %>
      <div class='panel panel-default col-md-12'>
        <div class='panel-heading'>
         <h3 class='text-center'><%= r.exercise.title %></h3>
        </div>
        <div class='panel-body'>
          <dl class= 'dl-horizontal'>
          <% if r.exercise.description.present? %>
            <dt>Description:</dt>
            <dd><%= r.exercise.description.html_safe %></dd>
          <% end %>
          <% if r.sets.present? %>
            <dt>Sets:</dt>
            <dd><%= r.sets %></dd>
          <% end %>
          <% if r.reps.present? %>
            <dt>Reps:</dt>
            <dd><%= r.reps %></dd>
          <% end %>
          <% if r.duration.present? %>
            <dt>Duration:</dt>
            <dd><%= r.duration %></dd>
          <% end %>
          <% if r.instructions.present? %>
            <dt>Instructions:</dt>
            <dd><%= r.instructions %></dd>
          <% end %>
          </dl>
        </div>
    <% end %>
      </div>
    <div class="completed">
      <%= link_to "Completed", '#', method: :patch, class: 'btn btn-danger' %>
    </div>
  <% if current_user.trainer? %>
  <div class='row'>
    <div class='panel panel-default col-md-6'>
      <div class='panel-heading'>
        <h3 class='text-center'>Athletes Assigned to this Program</h3>
      </div>
      <div class="row">
        <div class="col-md-8 panel-body" id="prog-athlete-list">
          <%= render 'program_athlete_list', program_athletes: @program_athletes, program: @program %>
        </div>
        <div class="col-md-4">
          <div class="dropup">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              Add an Athlete
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation" class="dropdown-header">My Athletes</li>
              <%= render 'trainer_athletes_dropdown', locals: { @trainer_athletes => @trainer_athletes, @program => @program } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</body>
