<body class='home-page-background'>

  <h1 class="text-center"><%= @program.name %></h1>
   <% if current_user.trainer? %>
    <%= link_to "Edit", edit_program_path(@program), class: 'btn btn-danger btn-xs pull-right', remote: true %>
    <%= link_to "Delete Program", program_path(@program), class: 'btn btn-danger btn-xs pull-right', method: :delete, data: {confirm: "Are you sure you want to delete this program?"} %>
    <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-danger btn-xs', id: "back-button-hide" %>
    <button class="btn btn-danger btn-xs hidden" id="back-button-show" data-dismiss="modal">Back</button>
  <% elsif current_user.athlete? %>
    <%= link_to 'Back', athlete_path(current_user.athlete), class: 'btn btn-danger btn-xs' %>
  <% end %>
  <div class='row'>
    <% @program.routines.each do |r| %>
      <div class='panel panel-default col-md-12'>
        <div class='panel-heading'>
         <h3 class='text-center'><%= r.exercise.title.upcase %></h3>
        </div>
        <div class='panel-body'>
          <dl class= 'dl-horizontal'>
          <% if r.exercise.description.present? %>
            <dt>Description:</dt>
            <dd><%= r.exercise.description.html_safe %></dd>
          <% end %>
          <% if r.sets.present? %>
            <dt>Sets:</dt>
            <dd><%= r.sets %></dd>
          <% end %>
          <% if r.reps.present? %>
            <dt>Reps:</dt>
            <dd><%= r.reps %></dd>
          <% end %>
          <% if r.duration.present? %>
            <dt>Duration:</dt>
            <dd><%= r.duration %></dd>
          <% end %>
          <% if r.instructions.present? %>
            <dt>Instructions:</dt>
            <dd><%= r.instructions %></dd>
          <% end %>
          <% if r.rest.present? %>
            <dt>Rest:</dt>
            <dd><%= r.rest %></dd>
          <% end %>
          </dl>
        </div>
    <% end %>
  </div>
    <div class="completed">
    <% if current_user.athlete? %>
      <%= simple_form_for @activity do |f| %>
        <%= f.input :feedback %>
        <%= f.association :program, value: @program.id, as: :hidden %>
        <%= f.association :athlete, value: current_user.athlete.id, as: :hidden %>
        <%= f.date_field :completed_at, as: :date, start_year: Date.today.year,
                                end_year: Date.today.year + 12,
                                order: [:day, :month, :year] %>
        <%= f.button :submit, 'Completed', class: 'btn btn-danger' %>
      <% end %>
    <% end %>



<div id="modal">
</div>
