<h1><%= @program.name %></h1>

  <% @program.routines.each do |r| %>
  <div id="program-show">
    <%= r.exercise.title %><br/>
    <%= r.exercise.description %>
    (<%= r.exercise.category %>)
    sets: <%= r.sets %>
    reps: <%= r.reps %>
    duration: <%= r.duration %><br/>
    <p>instrucions: <%= r.instructions %></p>
    <br/>
    <br/>
    </div>
<% end %>

<%= link_to "Edit", edit_program_path(@program), class: 'btn btn-info btn-xs' %>
<%= link_to "Back", programs_path, class: 'btn btn-info btn-xs' %>
