<h1><%= @athlete.name %></h1>
<div class='row'>
  <div class='col-md-4'>
    <div class="gravatar athlete-gravatar image-responsive" alt="Responsive image"><%= gravatar_image_tag(@athlete.user.email, :gravatar => { :size => 330 }, class: "img-rounded") %></div>

    <% if current_user.athlete? %>
    <br>
      <%= link_to 'Edit Profile', edit_athlete_path(@athlete.id), class: 'btn btn-danger btn-margin', remote: true %>
  <% end %>
  <div>
      <%= link_to 'Back', trainer_path(@trainer), class: 'btn btn-danger btn-margin' %>
  <% if current_user.trainer? && @athlete.trainer_id.nil? %>
      <%= link_to 'Add', assign_trainer_path(trainer_id: current_user.trainer.id, athlete_id: @athlete.id ), class: 'btn btn-danger btn-margin', method: :put %>
  <% elsif current_user.trainer? %>
      <%= link_to 'Remove Athlete', remove_from_trainer_path(athlete_id: @athlete.id, trainer_id: current_user.trainer.id), method: :put, class: 'btn btn-danger btn-margin' %>
       <%= link_to 'New Program', new_program_path, class: 'btn btn-primary btn-margin'  %>
  <% end %>
</div>
  </div>

  <div class='col-md-4 well-position well'>
    <ul class="personal-info">
      <li>Bio: &nbsp;<blockquote><%= @athlete.bio %></blockquote></li>
      <li>Goals: <blockquote><%= @athlete.goals %></blockquote></li>
      <% if @athlete.trainer %>
        <li>My Trainer: <blockquote><%= @athlete.trainer.name %></blockquote></li>
      <% end %>
    </ul>
  </div>
  <div class="well col-md-4 well-position-2 personal-info">

  <h3 class="text-center">Programs</h3>
    <% @temp = Program.new %>
    <% @athlete.programs.each do |program|%>
      <% unless @temp == program %>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-bolt"></i><%= link_to program.name, program_path(program.id), class: 'panel' %></li>
        </ul>
        <% @temp = program %>
      <% end %>
    <% end %>

  </div>
</div>
