<h1 class="profile-title"> <%= @trainer.name.titleize %> (<%= current_user.role.capitalize %>)</h1>
<img src="http://www.personaltrainingbusinessschool.com/wp-content/uploads/2010/01/personal-training-business.jpg", alt="Profile Pic", style="width:250px;height:300px">
<br>
<ul>
  <li><%= @trainer.organization %></li>
  <li><%= @trainer.certifications %></li>
  <li><p class="personal-info">
    Here goes some stuff about me
  </p></li>
</ul>
<div class="row" id="button-toolbar">
  <%= link_to 'Edit Profile', edit_trainer_path(@trainer.id), class: 'btn btn-danger', remote: true %>
</div>
