<div class="row">
  <div class="col-md-5">
    <h1 class="profile-title"> <%= @trainer.name.titleize %> <!-- (<%= current_user.role.capitalize %>) --></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="gravatar"><%= gravatar_image_tag(current_user.email, :gravatar => { :size => 330 }, class: "img-rounded") %></div>
    <!-- <img src="http://www.personaltrainingbusinessschool.com/wp-content/uploads/2010/01/personal-training-business.jpg", alt="Profile Pic", style="width:250px;height:300px"> -->
    <div id="button-toolbar">
      <%= link_to 'Edit Profile', edit_trainer_path(@trainer.id), class: 'btn btn-danger', remote: true %>
    </div>
  </div>

  <div class="col-md-5 well-position well">
      <ul class="personal-info">
        <li>Organization: <blockquote><%= @trainer.organization %></blockquote></li>
        <li>Certifications: <blockquote><%= @trainer.certifications %></blockquote></li>
        <% unless @trainer.bio.nil? %>
          <li>Bio: <blockquote><%= @trainer.bio %></blockquote></li>
        <% end %>
      </ul>
  </div>
</div>

