<div class="row">
  <div class="col-md-5 col-sm-5 col-xs-9">
    <h1 class="profile-title"> <%= @trainer.name.titleize %> <!-- (<%= current_user.role.capitalize %>) --></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-sm-9 col-xs-9">
    <div class="gravatar resize"><%= gravatar_image_tag(current_user.email, :gravatar => { :size => 330 }, class: "img-rounded trainer-gravatar") %></div>
    <% if current_user.trainer %>
    <div id="button-toolbar">
      <%= link_to 'Edit Profile', edit_trainer_path(@trainer.id), class: 'btn btn-danger', remote: true %>
    </div>
    <% else %>
    <%= link_to 'Back', 'javascript:history.go(-1);', class: 'btn btn-danger btn-margin'  %>
    <% end %>
  </div>

  <div class="col-md-5 col-sm-9 col-xs-12 well-position well  profile-information-divs">
      <ul class="personal-info">
        <li>Organization: <blockquote><%= @trainer.organization %></blockquote></li>
        <li>Certifications: <blockquote><%= @trainer.certifications %></blockquote></li>
        <% unless @trainer.bio.nil? %>
          <li>Bio: <blockquote><%= @trainer.bio %></blockquote></li>
        <% end %>
      </ul>
  </div>
</div>

