<% if @old_trainer.present? %>
  <% remote_flag = true %>
  <% button_text = "Update Account" %>
<% else %>
  <% remote_flag = false %>
  <% button_text = "Create User" %>
<% end %>
<%= simple_form_for(@trainer, remote: remote_flag) do |f| %>
  <%= f.input :name, placeholder: "First and Last name" %>
  <%= f.input :organization %>
  <%= f.input :certifications %>
  <% if @old_trainer.present? %>
  <%= f.input :bio %>
    <%= f.button :submit, "Update Account", remote: true %>
    <button class="btn btn-danger btn-md pull-right"  data-dismiss="modal">
      back
    </button>
  <% else %>
    <%= f.button :submit, "Create Account" %>
  <% end %>
<% end %>
