<div class="page-container">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar" id="sidebar" role="navigation">
      <%= render 'trainer_sidebar', locals: {programs: @programs, athletes: @athletes } %>
    </div>
    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <h1 class="profile-title"> <%= @trainer.name.titleize %> (<%= current_user.role.capitalize %>)</h1>
        <img src="http://www.personaltrainingbusinessschool.com/wp-content/uploads/2010/01/personal-training-business.jpg", alt="Profile Pic", style="width:250px;height:300px">
        <br>
        <ul>
          <li><%= @trainer.organization %></li>
          <li><%= @trainer.certifications %></li>
          <li><p class="personal-info">
            Here goes some stuff about me
          </p></li>
        </ul>
      <div class="row" id="button-toolbar">
        <%= link_to 'Edit Profile', edit_trainer_path(@trainer.id), class: 'btn btn-danger' %>
      </div>
    </div><!-- /.col-xs-12 main -->
    </div><!--/.row-->
  </div><!--/.container-->
</div><!--/.page-container-->
