<h1> <%= @trainer.name %> (<%= current_user.role.capitalize %>)</h1>
<div class="profile-pic">Profile Pic Goes Here</div>

<div class="profile-info">
  <ul>
    <li><%= @trainer.organization %></li>
    <li><%= @trainer.certifications %></li>
  </ul>
  <p class="personal-info">
    Here goes some stuff about me
  </p>
</div>

<div><%= link_to 'Athletes', trainer_athletes_path(@trainer), class: 'btn btn-info' %></div>
<br>
<div><%= link_to 'Programs', programs_path, class: 'btn btn-info' %></div>

