<!DOCTYPE html>
<html>
<head>
  <title>WorkoutWarrior</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/select2.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/select2.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>
  <% if notice %><div class="notice"><%= notice %></div><% end %>
  <% if alert %><div class="alert"><%= alert %></div><% end %>
  <div class="container">
    <%= yield %>
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>

</body>
</html>
