<!DOCTYPE html>
<html>
<head>
  <title>WorkoutWarrior</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='body-background img-responsive' alt='Responsive image'>

  <%= render 'layouts/navbar' %>
  <% if notice %><div class="notice alert-success text-center"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-success text-center"><%= alert %></div><% end %>
  <div class="container">
    <%= yield %>
    <!-- <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div> -->

     </div>

  <div>
    <% unless current_user %>
      <%= render layout: 'modals/mymodal', locals: {modal_id: 'sign_up', backdrop: 'true', keyboard: 'true'} do %>
        <%= render file: 'devise/registrations/new' %>
      <% end %>
      <%= render layout: 'modals/mymodal', locals: {modal_id: 'sign_in', backdrop: 'true', keyboard: 'true'} do %>
        <%= render file: 'devise/sessions/new' %>
      <% end %>
    <% end %>
  </div>
  </div>
</body>
</html>
