<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Workout Warrior - The Ultimate Tool for Creating Workouts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/navbar' %>
  <%= render 'static_pages/home_page_image' %>


  <% if notice %><div class="notice alert-success text-center"><%= notice %></div><% end %>
  <% if alert %><div class="alert alert-success text-center"><%= alert %></div><% end %>


    <%= yield %>

  <div>
    <% unless current_user %>
      <%= render layout: 'modals/signup_modal', locals: {modal_id: 'sign_up', backdrop: 'true', keyboard: 'true'} do %>
        <%= render file: 'devise/registrations/new' %>
      <% end %>
      <%= render layout: 'modals/signin_modal', locals: {modal_id: 'sign_in', backdrop: 'true', keyboard: 'true'} do %>
        <%= render file: 'devise/sessions/new' %>
      <% end %>
    <% end %>
  </div>

  <div class="modal">

  </div>

</body>
</html>